<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
  <title>Registration Complete</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/base.html :: header"></header>

<h2 style="margin-top: 200px;" class="text-center">User registered successfully!</h2>

<hr>

<div class="text-center">
  <a th:href="@{/login}" class="btn btn-primary" role="button">Login</a>
</div>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>