<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/users.css}">
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
    <title>Save User</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/base.html :: header"></header>
<div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-2 container" style="margin-top: 50px;">
    <h2 class="text-center">User Directory</h2>
    <hr>

    <h3 class="text-center">Save an User</h3>

    <form id="users-form" class="" th:action="@{/admin/user/save}" th:object="${user}" method="POST">

        <div class="form-group">
            <div class="col-xs-15">
                <div>

                    <!-- Check for registration error -->
                    <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                        <span th:text="${registrationError}"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <input id="user-id" type="hidden" th:field="*{id}" value="id">
        </div>

        <div class="form-group">
            <label for="username">Your Username</label>
            <input type="text" id="username" class="form-control" th:field="*{userName}" value="username" placeholder="Username">
        </div>
        <div th:if="${#fields.hasErrors('userName')}" style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('userName')}" th:text="'User name ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password" th:field="*{password}" value="password" class="form-control" placeholder="Password" >
        </div>
        <div th:if="${#fields.hasErrors('password')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="matchingPassword">Confirm Password</label>
            <input type="text" id="matchingPassword" class="form-control" th:field="*{matchingPassword}" value="password" placeholder="Confirm Password">
        </div>
        <div th:if="${#fields.hasErrors('matchingPassword')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="'Password ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" class="form-control"  th:field="*{firstName}" value="firstName" placeholder="First Name">
        </div>
        <div th:if="${#fields.hasErrors('firstName')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" class="form-control"  th:field="*{lastName}" value="lastName" placeholder="Last Name">
        </div>
        <div th:if="${#fields.hasErrors('lastName')}"
             style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control"  th:field="*{email}" value="email" placeholder="Email">
        </div>
        <div th:if="${#fields.hasErrors('email')}" style="margin-bottom: 25px" class="text-danger">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="'Email ' + ${err}"></li>
            </ul>
        </div>

        <div class="form-check">
            <div>Roles</div>
            <label th:each="role: ${allRoles}" th:for="${role.name}">
                <input th:id="${role.name}" type="checkbox"
                       th:text="${role.name.replace('ROLE_', '').substring(0, 1) + role.name.replace('ROLE_', '').substring(1).toLowerCase()}"
                       th:value="${role.id}"
                       th:field="*{roles}">
            </label>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" name="button">Save</button>
        </div>
    </form>

    <a th:href="@{/admin/users/all}" class="btn btn btn-secondary">Back</a>
</div>

<script type="text/javascript" th:src="@{/js/saveUpdateUsers.js}"></script>
<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>