<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="'Edit ' + ${userDto.getUsername()} + ' profile'"></title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>

<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/base.html :: header"></header>

<div style="margin-top: 50px;">
    <h3 class="text-center">Edit your profile</h3>
    <hr>
    <div class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2 container">

        <h3 class="text-center">Names</h3>

        <form id="edit-profile-form" class="container" th:action="@{/profile/user/save}" th:object="${userDto}"
              method="POST">

            <!--    <div class="form-group">-->
            <!--      <div class="col-xs-15">-->
            <!--        <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">-->
            <!--          <span th:text="${registrationError}"></span>-->
            <!--        </div>-->

            <!--      </div>-->
            <!--    </div>-->
            <div class="row">
                <input id="user-id" type="hidden" th:field="*{id}">
            </div>
            <div class="row">
                <input id="username" type="hidden" th:field="*{username}">
            </div>
            <div class="row">
                <label for="first-name">First name: </label>
                <input id="first-name" type="text" th:field="*{firstName}" value="firstName" class=""
                       placeholder="First Name">
            </div>
            <div th:if="${#fields.hasErrors('firstName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('firstName')}" th:text="'First name ' + ${err}"></li>
                </ul>
            </div>

            <div class="row">
                <label for="last-name">Last Name: </label>
                <input id="last-name" type="text" th:field="*{lastName}" value="lastName" class=""
                       placeholder="Last Name">
            </div>
            <div th:if="${#fields.hasErrors('lastName')}"
                 style="margin-bottom: 25px" class="text-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('lastName')}" th:text="'Last name ' + ${err}"></li>
                </ul>
            </div>

            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-info col col-sm-2" name="button">Save</button>
            </div>

        </form>

        <!-- TODO: move this and change behaviour for better photo changing like click on the photo -->
        <!-- TODO: when changing the image show the user how his new image will look like -->
        <h3 class="text-center" style="margin-top: 50px;">Profile picture</h3>
        <form style="margin-top: 30px;" id="image-form" class="container text-center"
              th:action="@{/api/v1/profile/picture/upload}" th:method="post"
              enctype="multipart/form-data">
            <input type="file" id="image-file" name="profileImage" required>
            <div class="text-center" style="margin-top: 30px;">
                <button type="submit" class="btn btn-info">Change Photo</button>
            </div>
        </form>
        <div style="margin-top: 50px;">
            <a th:href="@{/profile/user}" class="btn btn-secondary">Back</a>
        </div>
    </div>

</div>

<footer th:replace="fragments/base.html :: footer"></footer>

</body>

</html>