<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title th:text="${userDto.getUsername()} + ' profile'"></title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments/base.html :: header"></header>

    <div>
        <br>
        User: <span th:text="${userDto.getUsername()}"></span>
        <br>
        Full Name: <span th:text="${userDto.getLastName()} + ' ' + ${userDto.getFirstName()}"></span>
        <br>
        Email: <span th:text="${userDto.getEmail()}"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
        <a th:href="@{/profile/edit}" class="btn btn-secondary">Edit Profile</a>
    </div>

    <footer th:replace="fragments/base.html :: footer"></footer>

</body>

</html>
