<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title th:text="${#authentication.getPrincipal().getUsername()} + ' profile'"></title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments/base.html :: header"></header>

    <div>
        User: <span sec:authentication="name"></span>
        <br>
        Role(s): <span sec:authentication="principal.authorities"></span>
        <br><br>
    </div>
    <br>

    <h1 th:text="${userName}"></h1>

    <a th:href="@{/games/list}">Games</a>

    <footer th:replace="fragments/base.html :: footer"></footer>

</body>

</html>
