<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>ArcadeIT Home</title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments/base.html :: header"></header>


    <div class="container">
        <p th:text="'Time on the server is ' + ${date}" class="green-text"/>

        <div th:if="${param.login}" sec:authorize="isAuthenticated()">
            <p class="alert alert-success" role="alert">Successfully Logged In</p>
        </div>
        <div th:if="${param.logout}" sec:authorize="!isAuthenticated()">
            <p class="alert alert-success" role="alert">Successfully Logged Out</p>
        </div>

        <a th:href="@{/games/list}" class="btn btn-primary">Games</a>
        <br>
        <br>
        <br>
        <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERUSER')">
            <a th:href="@{admin/users/all}" class="btn btn-secondary">Users</a>
        </div>
        <br>
        <br>
        <br>
        <a th:href="@{/profile/user}" class="btn btn-primary">Profile</a>
        <br>
        <br>
        <br>
        <br>

        <div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn btn-primary">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout-user}" method="POST">
                    <input type="submit" value="Logout" class="btn btn-primary">
                </form>
            </div>
        </div>


    </div>

    <footer th:replace="fragments/base.html :: footer"></footer>

</body>
</html>
