<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Games</title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
    <header th:replace="fragments/base.html :: header"></header>


    <div th:each="game : ${games}">
        <h1 th:text="${game}"></h1>
    </div>
    <div>
        <a th:href="@{/games/rocket-science}" class="btn btn-info">Play</a>
    </div>

    <br><br><br>

    <div>
        <a th:href="@{/profile/user}" class="btn btn-secondary">Profile</a>
    </div>

    <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>