<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Games</title>
    <th:block th:insert="fragments/base.html :: headerfiles"></th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/base.html :: header"></header>

<div class="container" style="margin-top: 150px;">
    <div>
        <h3>Rocket Science: </h3>
        <a th:href="@{/games/rocket-science}" class="btn btn-info">Play</a>
    </div>
    <div>
        <h3>Snake: </h3>
        <a th:href="@{/games/snake}" class="btn btn-info">Play</a>
    </div>
    <div class="text-center" style="margin-top: 45px;">
        <a th:href="@{/profile/user}" class="btn btn-secondary">Profile</a>
    </div>
</div>

<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>